# vimwiki

snippet h1
    # ${0:title}

snippet h2
    ## ${0:title}

snippet h3
    ### ${0:title}

snippet h4
    #### ${0:title}

snippet h5
    ##### ${0:title}

snippet h6
    ###### ${0:title}

snippet task
    - [ ] ${0:title}

snippet link
    [${0:text}](${1:url})

snippet codeblock
    \`\`\`${1:language} 
    ${2:code}
    \`\`\`$0
