console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[upgrade]
  source = 'cdn'
  interval = '168h'
  auto = false
  notice = false

[[blocks]]
  type = 'prompt'
  alignment = 'left'
	newline = true

	[[blocks.segments]]
		type = 'path'
		style = 'plain'
		background = 'transparent'
		foreground = '#4B95E9'

		[blocks.segments.properties]
			style = 'full'
	
	[[blocks.segments]]
		type = 'git'
		style = 'plain'
		foreground = '#6c6c6c'
		background = 'transparent'
		template = '{{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }} <cyan>{{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0 }}⇡{{ end }}</>'
			
			[blocks.segments.properties]
				branch_icon =''
				fetch_status = true
				commit_icon = '@'

[[blocks]]
	type = 'rprompt'
	overflow = 'hidden'

	[[blocks.segments]]
		type = 'executiontime'
		style = 'plain'
		foreground = 'yellow'
		background = 'transparent'
		template = '{{ div .Ms 1000 }}s'

		[blocs.segments.properties]
			threshold = 5000
			style = ''


[[blocks]]
	type = 'prompt'
	newline = true
	alignment = 'left'

	[[blocks.segments]]
		type = 'text'
		style = 'plain'
		foreground_templates = [
			"{{if gt .Code 0}}red{{end}}",
			"{{if eq .Code 0}}magenta{{end}}",
		]
		background = 'transparent'
		template = '❯'

[transient_prompt]
  template = '❯ '
	foreground_templates = [
		"{{if gt .Code 0}}red{{end}}",
		"{{if eq .Code 0}}magenta{{end}}",
	]
  background = 'transparent'

[secondary_prompt]
	foreground = 'magenta'
	background = 'transparent'
	template = '❯❯ '

