#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "♪", dir: "▸", playlist: "♫", marker: "\u{e0b0}"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["█", "█", "●", " ", " "],
        track_style: (bg: "#3c3836"),
        elapsed_style: (fg: "#b8bb26", bg: "#3c3836"),
        thumb_style: (fg: "#fabd2f", bg: "#3c3836"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#a89984"),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "#ebdbb2",
    background_color: "#282828",
    header_background_color: "#1d2021",
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "#282828", bg: "#fabd2f", modifiers: "Bold"), inactive_style: ()),
    borders_style: (fg: "#504945"),
    highlighted_item_style: (fg: "#fabd2f", modifiers: "Bold"),
    current_item_style: (fg: "#282828", bg: "#b8bb26", modifiers: "Bold"),
    highlight_border_style: (fg: "#b8bb26"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#83a598"), default: (kind: Text("Unknown"))),
            width: "50%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#a89984"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#8ec07c"), default: (kind: Text("Unknown"))),
            width: "50%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(
                        playing_label: "▶",
                        paused_label: "▮▮",
                        stopped_label: "■",
                        playing_style: (fg: "#b8bb26"),
                        paused_style: (fg: "#fabd2f"),
                        stopped_style: (fg: "#fb4934"),
                    ))), style: (fg: "#a89984", modifiers: "Bold")),
                    (kind: Text("  ")),
                    (kind: Property(Status(RepeatV2(
                        on_label: "r",
                        off_label: "r",
                        on_style: (fg: "#fabd2f", modifiers: "Bold"),
                        off_style: (fg: "#504945"),
                    )))),
                    (kind: Text(" ")),
                    (kind: Property(Status(RandomV2(
                        on_label: "z",
                        off_label: "z",
                        on_style: (fg: "#fabd2f", modifiers: "Bold"),
                        off_style: (fg: "#504945"),
                    )))),
                    (kind: Text(" ")),
                    (kind: Property(Status(ConsumeV2(
                        on_label: "c",
                        off_label: "c",
                        on_style: (fg: "#fb4934", modifiers: "Bold"),
                        off_style: (fg: "#504945"),
                    )))),
                    (kind: Text(" ")),
                    (kind: Property(Status(SingleV2(
                        on_label: "s",
                        off_label: "s",
                        on_style: (fg: "#83a598", modifiers: "Bold"),
                        off_style: (fg: "#504945"),
                    )))),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#fabd2f", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#fabd2f", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "#8ec07c", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#8ec07c", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#a89984", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#a89984", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#a89984", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
